html,
body{
  background-color: #ff5733;
  background-image: url("../ressources/images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

.test{
  color: aquamarine;
  font-size: 10;
}