.btn-left-corner{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayList{
    background: var(--color-background-secondary);
    border-radius: 1rem;
    padding: 1rem;
}

.title{
    display: flex;
    justify-content: center;
}
