.btn-right-corner{
    display: flex;
    justify-content: end;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayForm{
    background: var(--color-background-secondary);
    border-radius: 1rem;
    padding: 1rem;
}

.title{
    display: flex;
    justify-content: center;
}