.btn-right-corner{
    display: flex;
    justify-content: end;
}

.title{
    display: flex;
    justify-content: center;
}

.btn-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
}